<%- include("partial/header") -%>
  
  <div class="row">
    <div class="leftcolumn">
      <div class="card">
        <h2>Current Stock Information</h2>
        <h5>Symbol: <%= stockSymbol %> </h5>
        <h5>Last Update: <%= stockLastUpdate %> </h5>
        <h5>Open Price: <%= stockOpenPrice %> </h5>
        <h5>Close Price: <%= stockClosePrice %> </h5>
        <h5>High Price: <%= stockHighPrice %> </h5>
        <h5>Low Price: <%= stockLowPrice %> </h5>
      </div>
      <div class="card">
        <h2>Current Crypto Information</h2>
        <h5>Last Update: --- </h5>
        <div class="titleImg">Image</div>
      </div>
    </div>
    <div class="rightcolumn">
      <div class="sideCard">
        <h2 class="sideWeatherHeading">Current Weather</h2>
        <div class="sideWeatherImg">
          <img src="<%= currentWeatherIcon %>" alt="Weather Icon" class="">
        </div>
        <div class="sideWeatherText">
          <p><%= currentTemp %> &deg;C</p>
          <p><%= currentWeather %></p>
          <p style="font-weight: bold;">
            <img src="/images/locationIcon.png" alt="Location Icon" class="location-icon">
            <%= currentCity %>
          </p>
        </div>
      </div>
      <div class="card">
        <h2 class="sidePostHeading">Popular Post</h2>
        <div class="sidePostImg">Image</div><br>
        <div class="sidePostImg">Image</div><br>
        <div class="sidePostImg">Image</div>
      </div>
    </div>
  </div>

<%- include("partial/footer") -%>