<%- include("partial/header") -%>
  
  <div class="row">
    <div class="leftcolumn">

      <!-- Stock information section -->
      <div class="card">
        <h2 class="stockHeading">Current Stock Information</h2>
        <h4>Provided by: Alpha Vantage</h4>
          <% if(currStockInfo){ %>
            <h4>Last Update: <%= currStockInfo[0].lastUpdate %> </h4>
            <table class="stockTable">
              <thead>
              <tr>
              <th>Name</th>
              <th>Symbol</th>
              <th>Open Price ($USD)</th>
              <th>Close Price ($USD)</th>
              <th>High Price ($USD)</th>
              <th>Low Price ($USD)</th>
              </tr>
              </thead>  
              <tbody>
              <% currStockInfo.forEach(function(currStock){ %>
                <tr>
                  <td><%= currStock.name %></td>
                  <td><%= currStock.symbol %></td>
                  <td><%= currStock.openPrice %></td>
                  <td><%= currStock.closePrice %></td>
                  <td><%= currStock.highPrice %></td>
                  <td><%= currStock.lowPrice %></td>
                </tr>
              <% }); %>
              </tbody>
              </tr>
          </table>
          <% }else{ %>
            <%- include("errorsection") -%>
          <% } %>      
      </div>

      <!-- Crypto information section -->
      <div class="card">
        <h2 class="cryptoHeading">Current Crypto Information</h2>
        <h4>Provided by: CoinGecko</h4>
        <% if(currCryptoInfo){ %>
          <h4>Last Update: <%= currCryptoInfo[0].lastUpdate %> </h4>
          <table class="cryptoTable">
            <thead>
            <tr>
            <th>Name</th>
            <th>Price ($USD)</th>
            <th>Market Cap ($USD)</th>
            </tr>
            </thead>  
            <tbody>
            <% currCryptoInfo.forEach(function(currCrypto){ %>
              <tr>
                <td><%= currCrypto.name %></td>
                <td><%= currCrypto.price %></td>
                <td><%= convertLargeNumber(currCrypto.marketCap) %></td>
              </tr>
            <% }); %>
            </tbody>
            </tr>
        </table>
        <% }else{ %>
          <%- include("errorsection") -%>
        <% } %> 
      </div>
    </div> <!-- end left column -->


    <div class="rightcolumn">
      <!-- Weather information section -->
      <div class="sideCard">
        <h2 class="sideWeatherHeading">Current Weather</h2>
        <h4>Provided by: OpenWeather</h4>
        <h4>Last Update: <%= convertDate(currWeatherInfo.lastUpdate) %></h4>
        <div class="sideWeatherImg">
          <img src="<%= currWeatherInfo.iconURL %>" alt="Weather Icon" class="">
        </div>
        <div class="sideWeatherText">
          <p><%= currWeatherInfo.temp %> &deg;C</p>
          <p><%= currWeatherInfo.description %></p>
          <p style="font-weight: bold;">
            <img src="/images/locationIcon.png" alt="Location Icon" class="location-icon">
            <%= currWeatherInfo.cityName %>
          </p>
        </div>
      </div>
      <div class="card">
        <h2 class="sidePostHeading">Popular Post</h2>
        <div class="sidePostImg">Image</div><br>
        <div class="sidePostImg">Image</div><br>
        <div class="sidePostImg">Image</div>
      </div>
    </div> <!-- end right column -->
  </div> <!-- end row -->

<%- include("partial/footer") -%>