<%- include("partial/header") -%>

  <div class="row">
    <div class="leftcolumn">

      <!-- Stock information section -->
      <div class="card">
        <h2 class="stockHeading">Current Stock Information</h2>
        <h4>Provided by: Alpha Vantage</h4>
        <div id="stock-loading" class="loading">
          <%- include("partial/loading") -%>
        </div>
        <div id="stock-error" style="display: none;">
          <%- include("partial/errorsection") -%>
        </div>
        <div id="stock-section" style="display: none;">
          <!-- Loading Stock Info table from jquery/homeScript.js -->
        </div> <!--End div class = "stock-section"-->
      </div>

      <!-- Crypto information section -->
      <div class="card">
        <h2 class="cryptoHeading">Current Crypto Information</h2>
        <h4>Provided by: CoinGecko</h4>
        <div id="crypto-loading" class="loading">
          <%- include("partial/loading") -%>
        </div>
        <div id="crypto-error" style="display: none;">
          <%- include("partial/errorsection") -%>
        </div>
        <div id="crypto-section" style="display: none;">
          <!-- Existing crypto table code -->
        </div>
      </div>
    </div> <!-- end left column -->


    <div class="rightcolumn">
      <!-- Weather information section -->
      <div class="sideCard">
        <h2 class="sideWeatherHeading">Current Weather</h2>
        <h4>Provided by: OpenWeather</h4>
        <div id="weather-loading" class="loading">
          <%- include("partial/loading") -%>
        </div>
        <div id="weather-error" style="display: none;">
          <%- include("partial/errorsection") -%>
        </div>
        <div id="weather-section" style="display: none;">
          <!-- Existing crypto table code -->
        </div>
      </div>
      <div class="card">
        <h2 class="sidePostHeading">Popular Post</h2>
        <div class="sidePostImg">Image</div><br>
        <div class="sidePostImg">Image</div>
      </div>
    </div> <!-- end right column -->
  </div> <!-- end row -->

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="./jquery/homeScript.js"></script>
  <%- include("partial/footer") -%>