<%- include("partial/header") -%>
  
  <div class="row">
    <div class="leftcolumn">

      <!-- Stock information section -->
      <div class="card">
        <h2>Current Stock Information</h2>
          <% if(currStockInfo){ %>
            <h4>Last Update: <%= currStockInfo[0].lastUpdate %> </h4>
            <div class="stockInfoContainer">
              <div class="stockInfoColumn"> <!-- column for stock name -->
                <h4>Name</h4>
                <% currStockInfo.forEach(function(currStock){ %>
                  <p><%= currStock.name %></p>
                <% }); %>
              </div>
              <div class="stockInfoColumn"> <!-- column for stock symbol -->
                <h4>Symbol</h4>
                <% currStockInfo.forEach(function(currStock){ %>
                  <p><%= currStock.symbol %></p>
                <% }); %>
              </div>
              <div class="stockInfoColumn"> <!-- column for stock open price -->
                <h4>Open Price</h4>
                <% currStockInfo.forEach(function(currStock){ %>
                  <p><%= currStock.openPrice %></p>
                <% }); %>
              </div>
              <div class="stockInfoColumn"> <!-- column for stock close price -->
                <h4>Close Price</h4>
                <% currStockInfo.forEach(function(currStock){ %>
                  <p><%= currStock.closePrice %></p>
                <% }); %>
              </div>
              <div class="stockInfoColumn"> <!-- column for stock high price -->
                <h4>High Price</h4>
                <% currStockInfo.forEach(function(currStock){ %>
                  <p><%= currStock.highPrice %></p>
                <% }); %>
              </div>
              <div class="stockInfoColumn"> <!-- column for stock low price -->
                <h4>Low Price</h4>
                <% currStockInfo.forEach(function(currStock){ %>
                  <p><%= currStock.lowPrice %></p>
                <% }); %>
              </div>
            </div>
          <% }else{ %>
            <%- include("errorsection") -%>
          <% } %>      
      </div>

      <!-- Crypto information section -->
      <div class="card">
        <h2>Current Crypto Information</h2>
        <% if(currCryptoInfo){ %>
          <h4>Last Update: <%= currCryptoInfo[0].lastUpdate %> </h4>
          <div class="cryptoInfoContainer">
            <div class="cryptoInfoColumn"> <!-- column for crypto name -->
              <h4>Name</h4>
              <% currCryptoInfo.forEach(function(currCrypto){ %>
                <p><%= currCrypto.name %></p>
              <% }); %>
            </div>
            <div class="cryptoInfoColumn"> <!-- column for crypto price -->
              <h4>Price</h4>
              <% currCryptoInfo.forEach(function(currCrypto){ %>
                <p><%= currCrypto.price %></p>
              <% }); %>
            </div>
            <div class="cryptoInfoColumn"> <!-- column for crypto market cap -->
              <h4>Market Cap</h4>
              <% currCryptoInfo.forEach(function(currCrypto){ %>
                <p><%= currCrypto.marketCap %></p>
              <% }); %>
            </div>
          </div>
        <% }else{ %>
          <%- include("errorsection") -%>
        <% } %> 
      </div>
    </div> <!-- end left column -->


    <div class="rightcolumn">
      <div class="sideCard">
        <h2 class="sideWeatherHeading">Current Weather</h2>
        <div class="sideWeatherImg">
          <img src="<%= currentWeatherIcon %>" alt="Weather Icon" class="">
        </div>
        <div class="sideWeatherText">
          <p><%= currentTemp %> &deg;C</p>
          <p><%= currentWeather %></p>
          <p style="font-weight: bold;">
            <img src="/images/locationIcon.png" alt="Location Icon" class="location-icon">
            <%= currentCity %>
          </p>
        </div>
      </div>
      <div class="card">
        <h2 class="sidePostHeading">Popular Post</h2>
        <div class="sidePostImg">Image</div><br>
        <div class="sidePostImg">Image</div><br>
        <div class="sidePostImg">Image</div>
      </div>
    </div> <!-- end right column -->
  </div> <!-- end row -->

<%- include("partial/footer") -%>