<div class="sideCard">
    <h2 class="sideWeatherHeading">Current Weather</h2>
    <h4>Provided by: OpenWeather</h4>
    <div id="weather-loading" class="loading">
      <%- include("partial/loading") -%>
    </div>
    <div id="weather-section" style="display: none;">
      <% if(currWeatherInfo){ %>
        <h5>Last Update: <%= convertDate(currWeatherInfo.lastUpdate) %>
        </h5>
        <div class="sideWeatherImg">
          <!-- Attribution available on public/partial/header.ejs -->
          <img src="<%= currWeatherInfo.iconURL %>" alt="Weather Icon" class="">
        </div>
        <div class="sideWeatherText">
          <p>
            <%= currWeatherInfo.temp %> &deg;C
          </p>
          <p>
            <%= currWeatherInfo.description %>
          </p>
          <p style="font-weight: bold;">
            <img src="/images/locationIcon.png" alt="Location Icon" class="location-icon">
            <%= currWeatherInfo.cityName %>
          </p>
        </div>
      <% }else{ %>
        <%- include("partial/errorsection") -%>
      <% } %>
    </div>
  </div>